html
	head
		title JSLoops - Music Making App
		link(rel="stylesheet",href="lib/font-awesome/css/font-awesome.css")
		link(rel="stylesheet",href="css/style.css")
	body
		.layout
			.header
				.logo
					i.fa.fa-music
					span JSLoops
				.indicators
					span BPM
					input#bpm(value="120")
				.controls
					button#play
						i.fa.fa-play
					button#stop
						i.fa.fa-stop
				.file-operations
					button(type="link")#save
						i.fa.fa-floppy-o
					input#load-file(type="file")
					button#load
						i.fa.fa-upload
					button#clear
						i.fa.fa-trash
			.panel
				.instruments-pane
					.section
						.title Instruments
						ul.entities
							li Sampler
							li Synth
			.workspace
				.sequencer
					.toolbar
						.title Sequencer
						.prefs
							span Bar Count
							input#bar-count(value="16")
					.channels
						.channel#channel0
							.channel-name channel 0
							input.channel-note#channel0-note(value="C")
							.bars
								.bar.current#channel0-bar0
								.bar#channel0-bar1
								.bar#channel0-bar2
								.bar#channel0-bar3
								.bar#channel0-bar4
								.bar#channel0-bar5
								.bar#channel0-bar6
								.bar#channel0-bar7
				.piano-roll
					.toolbar
						.title Piano Roll
						.toolbar-controls
							button.int-mode-option.selected(
								data-option-param="int-mode",
								data-option-value="select"
							)
								i.fa.fa-mouse-pointer
							button.int-mode-option(
								data-option-param="int-mode",
								data-option-value="edit"
							)
								i.fa.fa-pencil
							button.int-mode-option(
								data-option-param="int-mode",
								data-option-value="delete"
							)
								i.fa.fa-eraser
					.view
						canvas.grid
						canvas.elements
						canvas.selection
						canvas.indicators
						canvas.interaction
				.track-list
					.toolbar
						.title Track List
					.tracks
						.track
							.track-head
								.title Track 1
								.track-operations
									button M
									button S
									button R
							.track-path
								canvas.events
						.track
							.track-head
								.title Track 2
								.track-operations
									button M
									button S
									button R
							.track-path
								canvas.events
						.track
							.track-head
								.title Track 3
								.track-operations
									button M
									button S
									button R
							.track-path
								canvas.events
						.track
							.track-head
								.title Track 4
								.track-operations
									button M
									button S
									button R
							.track-path
								canvas.events



		//- libs
		script(src="lib/jquery/dist/jquery.js")
		script(src="lib/jquery-ui/jquery-ui.js")
		script(src="lib/lodash/lodash.js")
		script(src="lib/moment/moment.js")
		script(src="lib/audiosynth/audiosynth.js")
		script(src="lib/file-saver.js/FileSaver.js")
		//- iblokz
		script(src="js/iblokz/element.js")
		//- app
		script(src="js/jsl/jsl.js")
		script(src="js/jsl/etc/math.js")
		script(src="js/jsl/etc/counter.js")
		script(src="js/jsl/etc/signal.js")
		script(src="js/jsl/data/object.js")
		script(src="js/jsl/data/event.js")
		script(src="js/jsl/data/track.js")
		script(src="js/jsl/data/song.js")
		script(src="js/jsl/instr/sampler.js")
		script(src="js/jsl/instr/basic-synth.js")
		script(src="js/jsl/gfx/vector2.js")
		script(src="js/jsl/gfx/rect.js")
		script(src="js/jsl/gfx/canvas.js")
		script(src="js/jsl/gfx/grid.js")
		script(src="js/jsl/gfx/view.js")
		script(src="js/jsl/gui/editor.js")
		script(src="js/jsl/gui/sequencer.js")
		script(src="js/jsl/gui/piano-roll.js")
		script(src="js/jsl/gui/studio.js")
		script(src="js/init.js")